<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multiplayer Asteroids</title>
  <link rel="stylesheet" href="/css/output.css">
</head>
{{!-- possible page background --}}
{{!-- background="https://source.unsplash.com/jNKjqQQB5Gw/1920x1279" --}}

<body class="min-h-screen max-h-screen overscroll-none" >
  <div class= "flex-col justify-around">
    {{!-- {{>header}} --}}
    <main class="m-0 p-0 max-h-full">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}

  <script src="/js/logout.js"></script>
  {{/if}}


</body>

</html>
