<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multiplayer Asteroids</title>
  <link rel="stylesheet" href="/css/output.css">
</head>

<body class="">
  <div class= flex-col justify-around">
    <header class=" bg-stone-300 flex justify-between content-center py-5 px-10">
      <h1 class="text-2xl font-extrabold">
        <span role="img" aria-label="Rocket">🚀</span>
        <a href="/">Multiplayer Asteroids</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}

  <script src="/js/logout.js"></script>
  {{/if}}


</body>

</html>
