
<div class="flex justify-center items-center h-[90vh] select-none">
  <div class="flex flex-col justify-start items-center  bg-gradient-to-tr to-cyan-700 from-cyan-900 p-10 rounded-md gap-5 w-1/3">

    <h2 class="text-white underline decoration-orange-500 decoration-4 underline-offset-4 font-extrabold text-4xl text-center">About</h2>
    <p class="text-white">
      This game was developed as a group project for the University Of Utah 2023 Fullstack Bootcamp.
      More details on technlogies and credits can be found on the github page.
    </p>
    <a href="/login" class="font-bold text-lg my-5 py-1 px-4 border-4 bg-cyan-50 border-orange-500 hover:border-orange-600 active:border-orange-700 rounded text-orange-500">Play</a>

  </div>
</div>
