<div class="flex justify-center">
  <div class="flex flex-col bg-stone-300 p-10 rounded-md gap-5">
    <h2 class="text-2xl">Login</h2>

    <form class="login-form">
      <div class="flex flex-col">
        <label for="email-login">email</label>
        <input class="" type="text" id="email-login" />
      </div>
      <div class="flex flex-col">
        <label for="password-login">password</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="my-5 py-1 px-4 border border-solid bg-blue-200 rounded" type="submit">login</button>
      </div>
    </form>
    <a href="/signup">Signup</a>
  </div>
</div>

<script src="./js/login.js"></script>
