
<div class="flex justify-center items-center h-[90vh] min-h-[30vh]">
  <div class="flex flex-col justify-start items-center  bg-gradient-to-tr to-cyan-700 from-cyan-900 p-10 rounded-md gap-5 w-1/3">

      <h2 class=" text-white underline decoration-orange-500 decoration-4 underline-offset-4 font-extrabold text-4xl text-center select-none">Signup</h2>

      <form class="signup-form flex flex-col gap-5 w-3/4">
        <div class="flex flex-col">
          <input class=" rounded-md px-3 py-1 w-full" type="text" id="username-signup" placeholder="Username"/>
        </div>

        <div class="flex flex-col">
          <input class="form-input rounded-md px-3 py-1 w-full" type="email" id="email-signup" placeholder="E-mail"/>
        </div>

        <div class="flex flex-col">
          <input class="form-input rounded-md px-3 py-1 w-full" type="password" id="password-signup" placeholder="Password"/>
        </div>

        <div class="form-group">
          <button class="select-none font-bold text-lg my-5 py-1 px-4 border-4 bg-cyan-50 border-orange-500 hover:border-orange-600 active:border-orange-700 rounded text-orange-500" type="submit">Signup</button>
        </div>
        <div class ="select-none">
          <a href="/login" class="to-signup text-orange-200 hover:text-white ">Login To Existing Account</a> <br>
          <a href="/dashboard" class="to-signup text-orange-200 hover:text-white ">Play as a Guest</a>
        </div>
      </form>

  </div>
</div>


<script src="./js/signup.js"></script>
