
<div class="flex justify-center items-center h-main">
  <div class="flex flex-col justify-start items-center  bg-gradient-to-tr from-orange-300 to-orange-500 p-10 rounded-md gap-5 w-1/3">

      <h2 class=" text-white font-extrabold text-4xl text-center">Signup</h2>

      <form class="signup-form flex flex-col gap-5 w-3/4">
        <div class="flex flex-col">
          <input class=" rounded-md px-3 py-1 w-full" type="text" id="username-signup" placeholder="Username"/>
        </div>

        <div class="flex flex-col">
          <input class="form-input rounded-md px-3 py-1 w-full" type="email" id="email-signup" placeholder="E-mail"/>
        </div>

        <div class="flex flex-col">
          <input class="form-input rounded-md px-3 py-1 w-full" type="password" id="password-signup" placeholder="Password"/>
        </div>

        <div class="form-group">
          <button class="font-bold text-lg my-5 py-1 px-4 bg-orange-200 hover:bg-orange-300 active:bg-orange-400 rounded text-white" type="submit">Signup</button>
        </div>
        <div>
          <a href="/login" class="to-signup text-orange-100 hover:text-white ">Login To Existing Account</a> <br>
          <a href="/dashboard" class="to-signup text-orange-100 hover:text-white ">Play as a Guest</a>
        </div>
      </form>

  </div>
</div>


<script src="./js/signup.js"></script>
